@font-face {
  font-family: "NPSfontBold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.pwChange-left {
  width: 30%;
}

.pwChange-middle {
  width: 20%;
}

.pwChangeImage {
  width: 50%;
  height: 50%;
  display: flex;

  margin-top: 10%;
}
.pw-change {
  width: 150px;
  display: flex;
  align-items: start;
  margin-top: 50%;
  justify-content: space-around;
  font-family: "NPSfontBold";
}

.pwChange-right {
  width: 40%;
  margin-top: 15%;
}

.text-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 10%;
  margin-top: 5%;
  font-family: "NPSfontBold";
}
.input {
  width: 300px;
}
.text {
  width: 120px;
}

.button {
  margin-right: 65px;
  display: flex;
  justify-content: center;
  margin-left: 35%;
  font-family: "NPSfontBold";
}

.button-style {
  border: 1px solid #ee4e4e;
  background-color: #fff;
  color: #ee4e4e;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5%;
  margin-right: 12%;
  font-family: "NPSfontBold";
}

.button-style:hover {
  background-color: #fdd;
}
