.ReviewBoard {
  padding: 0 8%;
}
.ReviewBoard-info {
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
  margin-bottom: 1%;
}
.ReviewBoard-form-search {
  display: flex;
}
.ReviewBoard-submit_search {
  height: 21.6px;
  background-color: white;
  border: none;
  cursor: pointer;
}
.ReviewBoard-search_icon {
  width: 18px;
  height: 18px;
}
.ReviewBoard-list {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin: 0 20%;
  flex-wrap: wrap;
}
.ReviewBoard-item {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-bottom: 4%;
  text-decoration: none;
  cursor: pointer;
}
.ReviewBoard-noprofile {
  width: 25px;
  height: 25px;
}
.ReviewBoard-post {
  padding: 0 9%;
  display: flex;
  flex-direction: column;
}
.ReviewBoard-post-title {
  display: flex;
  justify-content: start;
}
.ReviewBoard-post-created_by {
  display: flex;
  justify-content: start;
}
.ReviewPost-title {
  display: flex;
  justify-content: center;
}
.ReviewBoard-thumb {
  object-fit: cover;
  width: 340px;
  height: 230px;
}
.ReviewBoard-pagination {
  display: flex;
  justify-content: center;
}
.ReviewBoard-write_button {
  display: flex;
  justify-content: end;
  padding: 1% 7%;
}
.ReviewBoard-button {
  width: 80px;
  height: 30px;
  background-color: white;
  color: #ee4e4e;
  border-radius: 5px;
  border-width: 2px;
  border-color: #ee4e4e;
  cursor: pointer;
}
.ReviewBoard-button:hover {
  background-color: #ee4e4e;
  color: white;
}
