@font-face {
  font-family: "NPSfontBold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.Header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c5c5c5;
  font-family: "NPSfontBold";
}
.Header-left {
  display: flex;
  align-items: center;
  a {
    color: #000000;
    text-decoration: none;
    margin: 20px;
  }
}

.Header-right {
  cursor: pointer;
  margin-right: 3%;
}

.head-text {
  font-family: "NPSfontBold";
}
.icon {
  font-size: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}

.modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  font-family: "NPSfontBold";
}

.modal-content {
  font-family: "NPSfontBold";
  box-sizing: border-box;
  width: 450px;
  height: 500px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 20px;
  padding: 30px;
  display: flex;

  flex-direction: column;
  align-items: center;
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
}

.login-form {
  width: 100%;
  height: 60%;
}

.login-text {
  width: 100%;
  margin: 5% 0;
  input {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #000000;
    font-family: "NPSfontBold";
  }
  p {
    box-sizing: border-box;
    font-size: 15px;
    margin: 5px 0;
    font-family: "NPSfontBold";
  }
}

.modal-button {
  margin-top: 10%;

  button {
    width: 100%;
    height: 50px;
    font-family: "NPSfontBold";
    color: white;
    background: #ee4e4e;
    border-radius: 5px;
    border: 1px solid #ee4e4e;
    cursor: pointer;
  }
}
.modal-menu {
  color: #ee4e4e;
  font-size: 15px;
  margin: 10px;
  margin-top: 10%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.modal-join {
  a {
    color: #ee4e4e;

    font-size: 15px;
    margin: 10px;
  }
}

.join {
  font-size: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}

.join-form {
  width: 100%;
  height: 60%;
}

.join-text {
  width: 100%;
  margin: 10px 0;
  margin-bottom: 4%;
  input {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #000000;
    font-family: "NPSfontBold";
  }
  p {
    box-sizing: border-box;
    font-size: 15px;
    margin: 5px 0;
    font-family: "NPSfontBold";
  }
}

.modal-joinbutton {
  button {
    width: 100%;
    height: 40px;
    font-family: "NPSfontBold";
    color: white;
    background: #ee4e4e;
    border-radius: 5px;
    border: 1px solid #ee4e4e;
    cursor: pointer;
  }
}
.modal-joinbutton {
  button {
    width: 100%;
    height: 40px;
    font-family: "NPSfontBold";
    color: white;
    background: #ee4e4e;
    border-radius: 5px;
    border: 1px solid #ee4e4e;
    cursor: pointer;
  }
}
.join-backButton {
  button {
    margin-top: 3%;
    width: 100%;
    height: 40px;
    font-family: "NPSfontBold";
    color: white;
    background: #b0b0b0;
    border-radius: 5px;
    border: 1px solid #b0b0b0;
    cursor: pointer;
  }
}

.password {
  font-size: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}

.pw-text {
  width: 100%;
  margin: 10px 0;
  margin-top: 10%;
  margin-bottom: 4%;
  display: flex;
  flex-direction: column;
  input {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #000000;
    font-family: "NPSfontBold";
  }
  p {
    box-sizing: border-box;
    font-size: 15px;
    margin: 5px 0;
    font-family: "NPSfontBold";
  }
}
.modal-backButton {
  button {
    margin-top: 30%;
    width: 100%;
    height: 40px;
    font-family: "NPSfontBold";
    color: white;
    background: #ee4e4e;
    border-radius: 5px;
    border: 1px solid #ee4e4e;
    cursor: pointer;
  }
}

.pw-backButton {
  button {
    margin-top: 3%;
    width: 100%;
    height: 40px;
    font-family: "NPSfontBold";
    color: white;
    background: #b0b0b0;
    border-radius: 5px;
    border: 1px solid #b0b0b0;
    cursor: pointer;
  }
}
